header {
      text-align: center ;
      background: url('acquapark.jpg');
      background-size: cover;
      color: white;
    }
    a {
      color: white;
    }
    h1 {
      font-size: 50px;
     
    }
    img {
      width: 200px;
      height: 200px
      margin: 40px 40px 40px 40px;
      border: 7px solid white;
      border-radius: 20px;

    }
    ul {
      padding: 30px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 10px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 50px;
      }
      li {
        padding: 500px;
        display: block;
      }
    }
    button {
    color: #0099CC;
    background-color: #eb94d0;
    border: 2px solid #0099CC;
    border-radius: 6px;
    height: 32px;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px ;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}